JAVA_HOME=/opt/java
CATALINA_OPTS="-Xms5120M -Xmx5120M -Dvertex.home=file:///opt/vertex/install -d64 -XX:+UseCompressedOops -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/opt/heapdumps -Dserver.name=dev15-ve2206-ve01.dev-int.aws.vertexinc.com"
